nav{
    ul{
      li{
        a{
          .icon
            {
                font-size: 13px;
            }
          .span-detail
            {
               font-size: 13px;
               font-family: 'Montserrat', sans-serif;
               padding-left: 8px;
            }
           :before{
              content: '';
              width: 0px;
              height: 5px;
              background-color: #00bcd4;
              position: absolute;
              top:100%;
              left: 0;
              transition: .5s;
            }
            position: relative;
         }  
         :hover a:before{
            width: 80%;
            transform: translateX(100%);
         }
        }
    }
}
header{
	height: 700px;
	width: 100%;
	background-image: url(../img/slide1.png);
	background-size:cover;
  background-repeat: no-repeat;
}