
$main-color:#B2B3E7;

header{
  height: 700px;
	width: 100%;
	background-image: url(../img/slide1.png);
	background-size:cover;
  background-repeat: no-repeat;
  .first-head{
    ul{
      margin: 0;
      padding: 13px 0px;
    }
    li{
      padding: 0;
    }
    a{
      color: $main-color;
      font-size: 12px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      .span-detail{
        padding-left: 8px; 
      }
      .icon
          {
            color: #A1A7EA !important;
          }
    }
  }
  
}
// nav{
//   ul{
//     padding: 0;
//     margin: 0;
//   }
//   li{
//     padding: 0;
//   }
//  a{
//    position: relative;

//    .icon
//         {
//           font-size: 13px;
//         }
//      .span-detail
//         {
//           font-size: 13px;
//           font-family: 'Montserrat', sans-serif;
//           padding-left: 8px;
//         }
//      &:before{
//               content: '';
//               position: absolute;
//               left: 0;
//               right: 0;
//               bottom: 0;
//               width: 0;
//               height: 3px;
//               transition: width .3s;
//               transition-property: width;
//               transition-duration: 0.3s;
//               transition-timing-function: ease;
//               transition-delay: 0s;
//               background-color: #fff;
//               outline: none;
//               :hover & {
//                       width: 50%;
//                       transform:translateX(100%);
//                     }
//         }
//   }
// }
